<div class="card rounded-5 shadow-lg p-3">
  <h3><i class="fal fa-business-time me-2"></i><b><em>Experience:</em></b></h3>
  <h4><b><em>TEAM International</em></b></h4>
  <ul>
    <li><u>February 2020 - present</u> - .NET Developer<br>
      <h4><span class="badge rounded-pill text-bg-success">ASP.NET Web Forms</span>
        <span class="badge rounded-pill text-bg-success">Microsoft SQL Server</span>
        <span class="badge rounded-pill text-bg-success">ASP.NET Web API</span>
        <span class="badge rounded-pill text-bg-success">jQuery</span>
        <span class="badge rounded-pill text-bg-success">Transact-SQL (T-SQL)</span></h4>
    </li>
  </ul>
  <ul>
    <li><u>February 2019 - February 2020</u> - Junior .NET Developer<br>
      <h4><span class="badge rounded-pill text-bg-success">Microsoft SQL Server</span>
        <span class="badge rounded-pill text-bg-success">Mentoring</span>
        <span class="badge rounded-pill text-bg-success">.NET Core / .NET 6.0</span>
        <span class="badge rounded-pill text-bg-success">C#</span>
        <span class="badge rounded-pill text-bg-success">.NET Framework</span></h4>
    </li>
  </ul>
  <ul>
    <li><u>August 2018 - February 2019</u> - .NET Trainee<br>
      <h4><span class="badge rounded-pill text-bg-success">Elastic Stack (ELK)</span>
        <span class="badge rounded-pill text-bg-success">Oracle SQL Developer</span>
        <span class="badge rounded-pill text-bg-success">ASP.NET Web Forms</span>
        <span class="badge rounded-pill text-bg-success">HTML</span>
        <span class="badge rounded-pill text-bg-success">Cascading Style Sheets (CSS)</span></h4>
    </li>
  </ul>
  <h4><b><em>Beetroot Academy</em></b></h4>
  <ul>
    <li><u>September 2022 - present</u> - .NET Mentor<br>
      <h4><span class="badge rounded-pill text-bg-success">Mentoring</span>
        <span class="badge rounded-pill text-bg-success">Code Review</span>
        <span class="badge rounded-pill text-bg-success">ASP.NET Web API</span>
        <span class="badge rounded-pill text-bg-success">C#</span>
        <span class="badge rounded-pill text-bg-success">.NET Framework</span></h4>
    </li>
  </ul>
  <h4><b><em>Kharkiv Aviation Institute</em></b></h4>
  <ul>
    <li><u>March 2020 - present</u> - Lead Engineer at the Public Relations Department<br>
      <h4><span class="badge rounded-pill text-bg-success">.NET 7</span>
        <span class="badge rounded-pill text-bg-success">Entity Framework</span>
        <span class="badge rounded-pill text-bg-success">Blazor Server</span>
        <span class="badge rounded-pill text-bg-success">JetBrains Rider</span>
        <span class="badge rounded-pill text-bg-success">MudBlazor</span></h4>
    </li>
  </ul>
  <ul>
    <li><u>March 2018 - March 2020</u> - Engineer of the first category at the Centre of Educational
      services<br>
      <h4><span class="badge rounded-pill text-bg-success">Moodle</span>
        <span class="badge rounded-pill text-bg-success">Windows Server</span>
        <span class="badge rounded-pill text-bg-success">.NET Core</span>
        <span class="badge rounded-pill text-bg-success">System Administration</span>
        <span class="badge rounded-pill text-bg-success">Bootstrap</span></h4>
    </li>
  </ul>
  <ul>
    <li><u>September 2013 - March 2018</u> - Senior Assistant at the Centre of Educational services<br>
      <h4><span class="badge rounded-pill text-bg-success">WPF Development</span>
        <span class="badge rounded-pill text-bg-success">Microsoft Office</span>
        <span class="badge rounded-pill text-bg-success">ASP.NET MVC</span>
        <span class="badge rounded-pill text-bg-success">Adobe Illustrator</span>
        <span class="badge rounded-pill text-bg-success">Windows Forms</span></h4>
    </li>
  </ul>
</div>
