<div class="card rounded-5 shadow-lg p-3">
  <h3><i class="fal fa-trophy me-2"></i><b><em>Contests:</em></b></h3>
  <div class="row p-0">
    <div class="col-md-6">
      <img src="assets/img/hackathon.jpg" class="w-100 rounded-5" alt="Beetroot"/>
    </div>
  </div>
  <h3><i class="fal fa-screen-users me-2"></i><b><em>Mentorship:</em></b></h3>
  <div class="row p-0">
    <div class="col-md-6">
      <img src="assets/img/beetroot2.webp" class="w-100 rounded-5" alt="Beetroot"/>
    </div>
    <div class="col-md-6">
      <img src="assets/img/beetroot.avif" class="w-100 rounded-5" alt="Beetroot"/>
    </div>
    <div class="col-md-6">
      <img src="assets/img/topgunlab.avif" class="w-100 rounded-5" alt="Top Gun Lab"/>
    </div>
  </div>
  <h3><i class="fal fa-file-certificate me-2"></i><b><em>German:</em></b></h3>
  <div class="row p-0">
    <div class="col-md-6">
      <img src="assets/img/german1.avif" class="w-100 rounded-5" alt="Beetroot"/>
    </div>
    <div class="col-md-6">
      <img src="assets/img/german2.avif" class="w-100 rounded-5" alt="Top Gun Lab"/>
    </div>
  </div>
</div>
