<div class="card rounded-5 shadow-lg">
  <div class="p-3">
  <h3><i class="fal fa-globe me-2"></i><strong><em>English:</em></strong> <a
    href="http://www.efset.org/cert/g5h4uK">EF SET English Certificate
    77/100 (C2 Proficient)</a></h3>
  <h4><strong><em>German:</em></strong>&nbsp;Intermediate (relevant certificate attached below)</h4>
  </div>
  <h3 class="ps-3">
    <i class="fal fa-code me-2"></i><strong><em>Technical skills:</em></strong>
  </h3>
  <table class="table table-secondary table-bordered m-0">
    <tbody>
    <tr>
      <td>
        <strong>Skill</strong>
      </td>
      <td>
        <strong>Proficiency</strong>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>C#/.NET</strong>: OOP, SOLID, TPL, PLINQ, MVC, Web API, SqlClient and SqlBulkCopy,
          architecture and patterns, N-Tier & KISS follower</p>
      </td>
      <td>
        <p>Above Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>.NET Framework</strong>: experience with Web Forms</p>
      </td>
      <td>
        <p>Excellent</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>.NET (Core):</strong> experience with Core 2.2 -
          <a href="https://www.linkedin.com/learning/certificates/f453666c9369501b8ec8531fd1493a72be0eeb619167995643e936c4eb8f521d?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BWhJOafnCT46N2n0r6bbuug%3D%3D">
            <i class="fab fa-linkedin-in me-2"></i>.NET 7</a>,
          <a href="https://www.udemy.com/certificate/UC-709958c0-253c-4781-ab8a-0b004d64f063/">
            <i class="fal fa-u me-2"></i>Web API & Microservices</a>,
          <a href="https://ude.my/UC-6cf1133f-7846-4636-b5dd-7e10308c824e">
            <i class="fal fa-u me-2"></i>Blazor Server and WebAssembly</a></p>
      </td>
      <td>
        <p>Excellent</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Database</strong>: relational, T-SQL, MSSQL, MySQL, PostgreSQL</p>
      </td>
      <td>
        <p>Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>ORM</strong>: Entity Framework (Core), Dapper, EFCore.BulkExtensions,
          Z.EntityFramework, Pomelo.EntityFrameworkCore.MySql</p>
      </td>
      <td>
        <p>Excellent</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>FrontEnd</strong>: HTML, CSS, JS, Bootstrap, SASS, jQuery, MaterializeCSS,
          slimselectjs, datatables.net, DropzoneJS</p>
      </td>
      <td>
        <p>Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Packages</strong>: AutoMapper, MudBlazor, OAuth 2.0 with Google and EWS, NPOI (Excel)
        </p>
      </td>
      <td>
        <p>Above Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Containerization: </strong><a
          href="https://www.linkedin.com/learning/certificates/b31dc5e57d0eda5bf743e4b545255de753d3a63c8115bf5aba28d828dc1dc67c?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BWhJOafnCT46N2n0r6bbuug%3D%3D">Docker</a>,
          <a href="https://www.linkedin.com/learning/certificates/3114cd0d7d2a251f220097c8e1dca354fb3991fe58a1010eecc691fcf176cee2?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BWhJOafnCT46N2n0r6bbuug%3D%3D">Kubernetes
            (K8S)</a></p>
      </td>
      <td>
        <p>Below Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Cloud services</strong>: <a
          href="https://www.linkedin.com/learning/certificates/239f72a827b87f5319762e7ba4fddf741b7e7a6c720207b11624f20baccc5394?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BWhJOafnCT46N2n0r6bbuug%3D%3D">Azure</a>,
          <a href="https://www.linkedin.com/learning/certificates/a9fa7d255baabb3d81d20a1dd22c228bd67312f7114626756cbf378a9f5ec1b3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BWhJOafnCT46N2n0r6bbuug%3D%3D">AWS</a>
        </p>
      </td>
      <td>
        <p>Below Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Platforms: </strong>ELK (Elasticsearch and Logstash configuration)</p>
      </td>
      <td>
        <p>Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Bundling: </strong>Node.js, Webpack, Grunt</p>
      </td>
      <td>
        <p>Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Deployment: </strong>Windows Server, IIS, troubleshooting, SecOps, OWASP guidelines,
          DDOS mitigation, system administration</p>
      </td>
      <td>
        <p>Average</p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Software:</strong> Rider<strong>,</strong> Visual Studio, ReSharper, Git, SSMS,
          Sourcetree, Navicat, MySQL Workbench</p>
      </td>
      <td>
        <p>Above Average</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
