<div class="card rounded-5 shadow-lg p-3">
  <h3><i class="fal fa-people-group me-2"></i><b><em>Soft skills:</em></b></h3>
  <ul>
    <li><b>Teamwork & effective communication</b>: experience working both in a big international team with
      coworkers in Denmark and India on the production project and Ukrainian educational institution on
      the side-project
    </li>
    <li><b>Mentorship</b>: participated twice in <a
      href="https://edu.teaminternational.com/top-gun-lab-ukraine/">Top Gun Lab .NET Course</a> as a
      mentor, have conducted twice the <a href="https://beetroot.academy/courses/online/c-sharp/#teacher">.NET
        IT-course in Beetroot Academy</a> and have started streaming the <a
        href="https://www.youtube.com/watch?v=Rt-ru1Dq8-U&amp;list=PLwBx7WtaAQGf0vjeyPNZPyxDN-51fqnao&amp;index=7">advanced
        content on the .NET/C# on the YouTube</a>.
    </li>
    <li><b>Dependability & ambition</b>: have a career path starting from the Trainee to Strong Middle .NET
      Developer at TEAM International and from part-time Assistant to Lead Engineer at KHAI.
    </li>
    <li><b>Time management</b>: able to efficiently prioritize and resolve tasks alongside with educational
      and
      mentoring activities in the after-work time and active lifestyle.
    </li>
    <li><b>Willingness to learn</b>: starting the career with skills just in small .NET apps production and
      system administration, in 5 years have gained an amount of experience with enterprise application
      development, Web Forms, MVC, .NET Core, and Blazor, consistently improving both technical and soft
      skills.
    </li>
  </ul>
</div>
