<div class="card rounded-5 shadow-lg">
  <h1 class="p-3">
    <i class="fal fa-user me-2"></i>Oleh Sytnik
  </h1>
  <div class="row">
    <div class="col-md-7 px-4">
      <h3>
        <i class="fal fa-phone-office me-2"></i><b><em>Contact info:</em></b>
      </h3>
      <h5>
        <i class="fab fa-linkedin me-2"></i>LinkedIn: <a
        href="https://linkedin.com/in/oleh-sytnik">&#64;oleh-sytnik</a>
      </h5>
      <h5>
        <i class="fab fa-telegram me-2"></i>Telegram: <a href="https://t.me/olehsytnik">&#64;olehsytnik</a></h5>
      <h5><i class="fal fa-at me-2"></i>E-mail: <a href="mailto:oleh.sytnik@gmail.com">oleh.sytnik&#64;gmail.com</a>
      </h5>
      <h5><i class="fab fa-github-alt me-2"></i>GitHub: <a href="https://github.com/sytnik">sytnik</a></h5>
      <h3><i class="fal fa-bullseye-pointer me-2"></i><b><em>Objective:</em></b></h3>
      <h4>Presentation of my skills and experience for the Strong Middle .NET (BE/FS) Developer.</h4>
      <h3><i class="fal fa-file-certificate me-2"></i><b><em>Summary:</em></b></h3>
      <h5>I'm a .NET developer with upper-intermediate (B2) English, broad technical expertise, and 5.5 years of proven
        commercial experience in the Payroll, Telecom, and Educational Technologies domains.</h5>
      <h5>I have worked on various projects on the Web API, .NET Core, .NET 8, Blazor, Web Forms, Classic ASP, and more
        from the .NET stack. From the soft skills perspective, I've mentored five groups of IT students (TEAM
        International's Top Gun Lab and Beetroot Academy). Also, I’m improving my presentation skills on the YouTube
        channel tech-talks.</h5>
      <h5>In October 2023, I took 2nd place at TEAM International's AI Hackathon for developing the AI-augmented HRIS
        business idea and prototype with OpenAI integration.</h5>
      <h5>As a lifelong learner, I'm constantly practicing both modern .NET standards (.NET 8, Blazor, OpenAI API
        integration) and getting experience in architectural best practices, code quality, and review; at the moment,
        I’m broadening the frontend capabilities with Angular.</h5>
    </div>
    <div class="col-md-5 d-flex flex-column">
      <img src="assets/img/sytnik.webp" class="w-100 rounded-5 mt-auto" alt="Oleh Sytnik"/>
    </div>
  </div>
</div>
